In [ ]:
import cross_validation

In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.random.randn(100, 1), columns=['a'])
print(df)

           a
0  -1.057280
1  -0.202165
2   0.133909
3   1.253952
4   0.113232
..       ...
95 -0.671612
96 -0.533533
97 -0.435528
98 -0.036435
99  1.513397

[100 rows x 1 columns]

In [10]:
df['b'] = np.where(df['a'] >= 0.5, 'Pass', "Fail")

In [15]:
df

           a     b
0  -1.057280  Fail
1  -0.202165  Fail
2   0.133909  Fail
3   1.253952  Pass
4   0.113232  Fail
..       ...   ...
95 -0.671612  Fail
96 -0.533533  Fail
97 -0.435528  Fail
98 -0.036435  Fail
99  1.513397  Pass

[100 rows x 2 columns]

In [17]:
x = [1, 3]

In [19]:
df = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
corr = [-3, -2, -1, 0, 1, 2, 3, 4, 5, 6]

In [20]:
n_comp = 5

np.arange(n_comp)

array([0, 1, 2, 3, 4])

In [23]:
r2_index = ['']
for i in range(n_comp):
    r2_index.append('PC{}'.format(i+1))

In [24]:
r2_index

['', 'PC1', 'PC2', 'PC3', 'PC4', 'PC5']

In [25]:
r2_index[0]

''

In [27]:
df

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
rand_df = pd.DataFrame(np.random.randn(100, 3), columns=['a', 'b', 'c'])

In [31]:
rand_df.loc[5, 'b']

-0.12552854983229456

In [39]:
rand_df

           a         b         c
0   0.560292  1.037428  0.970465
1   0.096996  1.454819  1.019123
2   0.820951  1.108323 -0.169784
3   0.200584 -0.694407  0.082700
4   0.683648  0.198025 -0.418509
..       ...       ...       ...
95  0.015475  0.270355  0.334790
96 -0.055864  0.915952  1.687989
97  1.366522 -0.342616 -0.909012
98 -0.550428 -0.273052 -1.060593
99  1.458203  0.964553 -0.254306

[100 rows x 3 columns]

In [79]:
g_ = []

l_ = []

for i in range(len(rand_df)):
    for j in ['A', 'B', 'C', 'D', 'E', 'F']:
        g_.append(j)

    for k in ['A', 'B', 'C', 'D']:
        l_.append(k)

In [80]:
rand_df['group'] = g_[:100]
rand_df['label'] = l_[0:100]

In [81]:
mean_ = rand_df.groupby(['group', 'label']).mean()

In [82]:
mean_

                    a         b         c
group label
A     A     -0.028285  0.536655 -0.094456
      C      0.536619  0.981524  0.091724
B     B      0.497109  0.135281  0.525836
      D     -0.125171 -0.082165  0.134321
C     A     -0.271247  0.165224 -0.206696
      C      0.547972 -0.058572 -0.226677
D     B     -0.216580 -0.246493  0.344566
      D      0.369156  0.538214  0.039976
E     A     -0.012479  0.475340  0.094725
      C     -0.473699  0.348827 -0.313440
F     B     -0.530705 -0.256427  0.597679
      D     -0.027892 -0.573759  0.034686

In [83]:
mean_.reset_index(inplace=True)

In [84]:
mean_

   group label         a         b         c
0      A     A -0.028285  0.536655 -0.094456
1      A     C  0.536619  0.981524  0.091724
2      B     B  0.497109  0.135281  0.525836
3      B     D -0.125171 -0.082165  0.134321
4      C     A -0.271247  0.165224 -0.206696
5      C     C  0.547972 -0.058572 -0.226677
6      D     B -0.216580 -0.246493  0.344566
7      D     D  0.369156  0.538214  0.039976
8      E     A -0.012479  0.475340  0.094725
9      E     C -0.473699  0.348827 -0.313440
10     F     B -0.530705 -0.256427  0.597679
11     F     D -0.027892 -0.573759  0.034686

In [87]:
t_

[[0, 4], [4, 8], [8, 12], [12, 16]]

In [86]:
t_ = []
n_ = len(mean_['label'].unique())
for i in range(n_):
    t_.append([i*n_, (i+1)*n_])

In [90]:
label_dict = dict(zip(rand_df['label'].unique(), range(n_)))

In [91]:
label_dict

{'A': 0, 'B': 1, 'C': 2, 'D': 3}

In [94]:
label_dict['A']

0